.card-zona {
    height: 100%;
}

.box {
    width: 100%;
    height: 105px;
    background: #ccc;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}
@supports (object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.whatsapp-ico {
    color: rgb(13, 102, 13);
    font-size: 34px;
    margin-right: 10px;
}

.whatsapp-ico:hover {
    font-size: 35px;
    cursor: pointer;
}

.facebook-icon {
    color: rgb(0, 81, 255);
    font-size: 34px;
    margin-right: 10px;
}

.facebook-icon:hover {
    font-size: 35px;
    cursor: pointer;
}