<br>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Cantón</th>
        <th scope="col">Actividad</th>
        <th scope="col">Nombre</th>
        <th scope="col">Descripción</th>
        <th scope="col">Portada</th>
        <th scope="col">Fecha registro</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td></td>
        <td></td>
        <td></td>
      </tr>

    </tbody>
  </table>

  <br> <br> <br> <br><br> <br> <br> <br> <br> <br> <br> <br> <br> <br> <br>