<div class="container">
    <br>
    <h5>Actividades de productores</h5>
    <br>
    <p class="titulo-actividad"><b>Crear nueva actividad</b></p>

    
    <div class="row">
        <div class="col-lg-5">
            <label>Nombre de la actividad:</label>
            <input type="text" class="form-control" name="actividad" #actividad="ngModel" [(ngModel)]="actividadOne.descripcion" required>
            <div class="cont-btn">
                <button class="btn btn-info" [disabled]="actividad.invalid" (click)="agregarActividad()">
                    Agregar
                </button>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Actividades</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let x of actividadesAll; let i = index">
            <th scope="row">{{i+1}}</th>
            <td>{{x.descripcion}}</td>
            <td>
                <button class="btn btn-sm btn-outline-danger" (click)="eliminarActividad(x.idactividad)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>

      <br> <br>
</div>