.nombre-zona {
    font-size: 14px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    margin-top: 7px;
    line-height : 17px;
}

.descripcion-zona {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.canton {
    position: absolute;
    bottom: 7px;
    right: 9px;
    font-size: 12px;
}

.card-zona {
    height: 350px;
    position: relative;
}

.box {
    width: 100%;
    height: 165px;
    background: #ccc;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}
@supports (object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}
