.col-enlace {
    text-align: right;
}

.col-enlace label {
    margin-left: 30px;
    cursor: pointer;
}

.cuerpo {
    -webkit-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.col-btn {
    text-align: right;
    padding-top: 1px;
}

.col-btn button {
    margin-left: 20px;
}

.logo-image {
    height: 45px;
}