<div class="fondo">
    <br>
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h4>Productores de Cotopaxi</h4>
            </div>
            <div class="col-lg-6 col-enlace">
                <label [routerLink]="['/login']"><i class="fas fa-sign-in-alt"></i> Acceder</label>
                <label><i class="far fa-question-circle"></i> Ayuda</label>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="cuerpo rounded bg-white">
            <div class="row">
                <div class="col-lg-2">
                    <img src="../../assets/images/logo.jpg" class="logo-image" [routerLink]="['/index']">
                </div>
                <div class="col-lg-3 col-btn">
                </div>
                <div class="col-lg-2">
                    <select class="form-control mb-2" (change)="byCanton(opcionCanton)" name="canton" #canton="ngModel"
                        [(ngModel)]="opcionCanton">
                        <option value="1">LATACUNGA</option>
                        <option value="7">LA MANÁ</option>
                        <option value="2">PANGUA</option>
                        <option value="5">PUJILÍ</option>
                        <option value="6">SALCEDO</option>
                        <option value="3">SAQUISILÍ</option>
                        <option value="4">SIGCHOS</option>
                    </select>
                </div>
                <div class="col-lg-5">
                    <div class="input-group mb-3">
                        <input type="text" class="form-control" placeholder="Buscar" name="busquedatxt"
                            [(ngModel)]="busquedatxt" aria-describedby="button-addon2">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                            [routerLink]="['/index/search', busquedatxt]">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <img src="../../assets/images/banner.jpg" style="width: 100%;">
        </div>

        <br>

        <div class="ps-3 pt-1 pb-2 rounded bg-white">
            <div class="chip-filtros container testimonial-group-filtro">
                <div class="row row-cols-auto">
                    <div class="col p-1" *ngFor="let f of actividades">
                        <span class="badge rounded-pill bg-secondary pt-2 pb-2"
                            [routerLink]="['/index/search-actividad', f.idactividad]"
                            style="font-size: 13px; cursor: pointer;">{{f.descripcion_actividad}}</span>
                    </div>
                </div>
            </div>
        </div>

        <br>

        

        <router-outlet></router-outlet>

    </div>


</div>