.col-enlace {
    text-align: right;
}

.col-enlace label {
    margin-left: 30px;
    cursor: pointer;
}

.cuerpo {
    -webkit-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.col-btn {
    text-align: right;
    padding-top: 1px;
}

.col-btn button {
    margin-left: 20px;
}

.logo-image {
    height: 45px;
}

.img-productor {
    height: 140px;
    max-width: 100%;
}

.tarjeta-productores {
    padding: 2px;
}

.tarjeta-productores button {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
}

.nombre-productor {
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.descripcion-rancho {
    font-size: 13px;
    margin: 5px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.btn {
    text-align: right;
}

.bt {
    padding-right: 10px;
}

/* carrusel 2 */

.testimonial-group2 {
    position: relative !important;
    padding-left: 2px;
    padding-right: 2px;
}

.testimonial-group2>.row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow: scroll;
    overflow: hidden;
}

.testimonial-group2>.row>.col-6 {
    flex: 0 0 auto;
}

.testimonial-group2,
.btn-izquierda {
    position: absolute;
}
.btn-izquierda {
    left: 0px;
    top: 120px;
}
.btn-izquierda button {
    padding: 10px;
    font-size: 25px;
    background-color: rgb(218, 216, 216);
}
.btn-izquierda button:hover {
    padding: 10px;
    font-size: 27px;
    background-color: rgb(187, 184, 184);
}
.btn-derecha {
    position: absolute;
    right: 0px;
    top: 120px;
}
.btn-derecha button {
    padding: 10px;
    font-size: 25px;
    background-color: rgb(218, 216, 216);
}
.btn-derecha button:hover {
    padding: 10px;
    font-size: 27px;
    background-color: rgb(187, 184, 184);
}

.fila-actividades img {
    height: 70px;
}

.fila-actividades h5 {
    margin-top: 15px;
}



.chip-filtros {
    margin-top: 8px;
}


/* filtro carrusel  */
.testimonial-group-filtro{
    margin-right: 0px;
    padding-right: 3px;
    padding-left: 3px;
}

.testimonial-group-filtro > .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow: scroll;
    
    
}

::-webkit-scrollbar {
    display: none;
}

.testimonial-group-filtro > .row > .col {
    flex: 0 0 auto;
}