body {
    font-size: .875rem;
    background-color: rgb(237, 238, 238);
  }
  
  .error-msj {
    border: solid 1px red;
    margin-top: 3px;
    color: red;
    font-size: 13px;
    padding: 3px;
  }