.nombre-zona {
    font-size: 14px;

    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 8px;
    margin-top: 7px;
    line-height : 17px;
}

.descripcion-zona {
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

.canton {
    position: absolute;
    bottom: 7px;
    right: 9px;
    font-size: 12px;
}

.card-zona {
    height: 350px;
    position: relative;
}

.box {
    width: 100%;
    height: 165px;
    background: #ccc;
    overflow: hidden;
}

.box img {
    width: 100%;
    height: auto;
}
@supports (object-fit: cover) {
    .box img {
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

.testimonial-group2 {
    position: relative !important;
    overflow: hidden;
}

.testimonial-group2>.row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: scroll;
    overflow: scroll;
    overflow-y: hidden
}

.testimonial-group2>.row>.col-3 {
    flex: 0 0 auto;
}

.testimonial-group2,
.btn-izquierda {
    position: absolute;
}
.btn-izquierda {
    left: 0px;
    top: 120px;
}
.btn-izquierda button {
    padding: 10px;
    font-size: 25px;
}
.btn-izquierda button:hover {
    padding: 10px;
    font-size: 27px;
}
.btn-derecha {
    position: absolute;
    right: 0px;
    top: 120px;
}
.btn-derecha button {
    padding: 10px;
    font-size: 25px;
}
.btn-derecha button:hover {
    padding: 10px;
    font-size: 27px;
}

.cuerpo {
    -webkit-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    padding: 10px;
}

.cardd:hover {
    -webkit-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
    box-shadow: -2px 2px 22px -6px rgba(0, 0, 0, 0.75);
}